<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Business App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="bg-main">
    <header class="top-nav">
        <div class="logo">RELLA DISTRIBUTION</div>

        {% if session.get('user') %}
            <div class="muted" style="margin-left:16px;">
                {{ session.user.name }} ({{ session.user.role|capitalize }})
            </div>
        {% endif %}

		<nav>
		    <a href="{{ url_for('dashboard') }}">Dashboard</a>
		    <a href="{{ url_for('products') }}">Products</a>
		    <a href="{{ url_for('customers') }}">Customers</a>
		    <a href="{{ url_for('sales') }}">Sales</a>
			<a href="{{ url_for('finances') }}">Finances</a>
			<a href="{{ url_for('visuals') }}">Visual Dashboard</a>
		    <a href="{{ url_for('stores') }}">Stores</a>
		    <a href="{{ url_for('stock_in') }}">Stock In</a>
		    <a href="{{ url_for('stock_transfer') }}">Transfer</a>
		    <a href="{{ url_for('stock_movements') }}">Movements</a>
		    <a href="{{ url_for('gallery') }}">Gallery</a>
		    <a href="{{ url_for('settings') }}">Settings</a>
		    <a href="{{ url_for('profile') }}">Profile</a>
		    <a href="{{ url_for('logout') }}">Logout</a>
		</nav>
    </header>

    <main class="main-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-container">
              {% for category, message in messages %}
                <div class="flash flash-{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>