{% extends "base.html" %}
{% block content %}

<div class="container mt-5" style="max-width: 450px;">
    <h3 class="mb-3">Create New Password</h3>

    <form method="POST" action="{{ url_for('reset_password') }}">
        <input type="hidden" name="user_id" value="{{ user_id }}">

        <label>New Password</label>
        <input type="password" name="password" class="form-control" required>

        <button class="btn btn-success mt-4 w-100">Reset Password</button>
    </form>
</div>

{% endblock %}
